In [241]:
import pandas as pd
import re
import numpy as np

In [242]:
data = pd.read_csv(r"F:\GUVI\Project\Car Dekho\Codes\Cleaned Data\Full_cars_data.csv", index_col=0)

C:\Users\syeda\AppData\Local\Temp\ipykernel_20256\1763093475.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"F:\GUVI\Project\Car Dekho\Codes\Final_cars_data.csv", index_col=0)

In [243]:
data.isnull().mean() * 100

it                           0.000000
ft                           0.000000
bt                           0.047795
km                           0.000000
transmission                 0.000000
                              ...
No Door Numbers              0.131437
Cargo Volumn                19.034532
Alloy Wheel Size            35.643446
Ground Clearance Unladen    93.846338
City                         0.000000
Length: 75, dtype: float64

In [244]:
data_1 = data.copy()

In [ ]:
data_1

In [ ]:
# Repeated and Unwanted Columns in data
"""

['it', 'ft', 'owner', 'oem', 'centralVariantId', 'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
'trendingText.heading', 'trendingText.desc', 'heading', 'bottomData', 'Kms Driven', 'RTO', 'Year of Manufacture', 'heading.1',
'commonIcon', 'Max Power', 'Seats.1', 'Torque', 'Wheel Size', 'Engine Type', 'Displacement', 'Max Power.1', 'Max Torque',
'No of Cylinder', 'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke', 'Compression Ratio',
'Length', 'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
'Seating Capacity', 'Turning Radius', 'Front Brake Type', 'Rear Brake Type', 'Acceleration', 'Tyre Type', 'Alloy Wheel Size',
'Ground Clearance Unladen', 'variantName','Ownership', 'Registration Year','Transmission','Engine Displacement']

"""

In [247]:
data_1.drop(['it', 'ft', 'owner', 'oem', 'centralVariantId', 'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
'trendingText.heading', 'trendingText.desc', 'heading', 'bottomData', 'Kms Driven', 'RTO', 'Year of Manufacture', 'heading.1',
'commonIcon', 'Max Power', 'Seats.1', 'Torque', 'Wheel Size', 'Engine Type', 'Displacement', 'Max Power.1', 'Max Torque',
'No of Cylinder', 'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke', 'Compression Ratio',
'Length', 'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
'Seating Capacity', 'Turning Radius', 'Front Brake Type', 'Rear Brake Type', 'Acceleration', 'Tyre Type', 'Alloy Wheel Size',
'Ground Clearance Unladen', 'variantName','Ownership', 'Registration Year','Transmission','Engine Displacement'], axis =1, inplace = True)

In [248]:
pd.set_option('display.max_columns', 30)

In [249]:
data_1.head()

,bt,km,transmission,ownerNo,model,modelYear,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,bangalore
1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,5 Seats,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,bangalore
2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,5 Seats,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,bangalore
3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,5 Seats,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,bangalore
4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,5 Seats,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,bangalore

In [250]:
# changing the columns name
data_1.rename(columns={'bt':'Body type', 'km':'Kilometers driven', 'transmission':'Transmission type', 'ownerNo':'Number of Owners', 'model': 'Car model', 'modelYear':'Year of manufacture', 'No Door Numbers':'No of doors'}, inplace=True)

In [251]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8369 entries, 0 to 8368
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Body type            8365 non-null   object
 1   Kilometers driven    8369 non-null   object
 2   Transmission type    8369 non-null   object
 3   Number of Owners     8369 non-null   int64
 4   Car model            8369 non-null   object
 5   Year of manufacture  8369 non-null   int64
 6   price                8369 non-null   object
 7   Fuel Type            8369 non-null   object
 8   Insurance Validity   8365 non-null   object
 9   Seats                8363 non-null   object
 10  Engine               8365 non-null   object
 11  Mileage              8082 non-null   object
 12  Color                8366 non-null   object
 13  Turbo Charger        7329 non-null   object
 14  Super Charger        6407 non-null   object
 15  Steering Type        8114 non-null   object
 16  Top Speed            4607 non-null   object
 17  No of doors          8358 non-null   float64
 18  Cargo Volumn         6776 non-null   object
 19  City                 8369 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.3+ MB

In [252]:
data_1.head()

,Body type,Kilometers driven,Transmission type,Number of Owners,Car model,Year of manufacture,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No of doors,Cargo Volumn,City
0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,bangalore
1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,5 Seats,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,bangalore
2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,5 Seats,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,bangalore
3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,5 Seats,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,bangalore
4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,5 Seats,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,bangalore

In [253]:
# changing the , and convert the dtype in Kilometers driven column

data_1['Kilometers driven'] = data_1['Kilometers driven'].str.replace(',', '').astype(int)

In [254]:
# converting the lakh, crore, and thousand to numeric values

def convert_price(price_str):
    price_str = re.sub(r'[₹,]', '', price_str)

    if 'Lakh' in price_str:
        return float(price_str.replace('Lakh', '').strip()) * 10**5
    elif 'Crore' in price_str:
        return float(price_str.replace('Crore', '').strip()) * 10**7
    else:
        return float(price_str)
    
data_1['price'] = data_1['price'].apply(convert_price)

In [255]:
data_1['Insurance Validity'].value_counts()

Insurance Validity
Third Party insurance    4055
Comprehensive            3150
Third Party               630
Zero Dep                  303
Not Available             223
1                           3
2                           1
Name: count, dtype: int64

In [256]:
# correcting the strings

data_1['Insurance Validity'] = data_1['Insurance Validity'].str.replace('Third Party insurance insurance', 'Third Party insurance')
data_1['Insurance Validity'] = data_1['Insurance Validity'].str.replace('1', 'First Party insurance')
data_1['Insurance Validity'] = data_1['Insurance Validity'].str.replace('2', 'Second Party insurance')

In [257]:
# changing the dtype and removing the seats string in columns
data_1['Seats'] = data_1['Seats'].str.replace('Seats', '').astype(float)

In [258]:
data_1.head()

,Body type,Kilometers driven,Transmission type,Number of Owners,Car model,Year of manufacture,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No of doors,Cargo Volumn,City
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,Petrol,Third Party insurance,5.0,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,Petrol,Comprehensive,5.0,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,Petrol,Comprehensive,5.0,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,Petrol,Comprehensive,5.0,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,Diesel,Third Party insurance,5.0,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,bangalore

In [259]:
# changing the dtype and removing the string in Engine columns
data_1['Engine'] = data_1['Engine'].str.replace('CC', '').astype(float)

In [260]:
# changing the dtype and removing the string in Mileage columns
data_1['Mileage'] = data_1['Mileage'].str.replace('kmpl', '').str.replace('km/kg','').astype(float)

In [261]:
# changing the dtype and removing the string in Top Speed columns
data_1['Top Speed'] = data_1['Top Speed'].str.replace(r'[^\d.]', '', regex=True).replace('',np.nan)
data_1['Top Speed'] = data_1['Top Speed'].astype(float)

In [262]:
# changing the dtype and removing the string in Cargo Volumn columns
data_1['Cargo Volumn'] = data_1['Cargo Volumn'].str.replace(r'[^\d.]', '', regex=True)
data_1['Cargo Volumn'] = data_1['Cargo Volumn'].astype(float)

In [263]:
# replacing the correct string format in Steering Type column

replacement = {
    'power' : 'Power',
    'Electronic': 'Electric',
    'Electrical': 'Electric',
    'electric': 'Electric'
}


data_1['Steering Type'] = data_1['Steering Type'].replace(replacement)

In [264]:
# standardize the formatting of text data
data_1['Turbo Charger'] = data_1['Turbo Charger'].str.capitalize()

In [269]:
# standardize the formatting of text data
data_1['Super Charger'] = data_1['Super Charger'].str.capitalize()

In [276]:
data_1

,Body type,Kilometers driven,Transmission type,Number of Owners,Car model,Year of manufacture,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No of doors,Cargo Volumn,City
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,Petrol,Third Party insurance,5.0,998.0,23.10,White,No,No,Power,150.0,5.0,235.0,bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,Petrol,Comprehensive,5.0,1497.0,17.00,White,No,No,Power,NaN,4.0,352.0,bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,Petrol,Comprehensive,5.0,1199.0,23.84,Red,No,No,Power,150.0,5.0,242.0,bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,Petrol,Comprehensive,5.0,1197.0,19.10,Others,No,No,Power,172.0,4.0,407.0,bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,Diesel,Third Party insurance,5.0,1248.0,23.65,Gray,Yes,No,Power,190.0,5.0,353.0,bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,10000,Manual,1,Maruti Celerio,2022,510000.0,Petrol,Third Party insurance,5.0,998.0,25.24,Others,NaN,NaN,Electric,NaN,5.0,313.0,kolkata
8365,Hatchback,120000,Manual,1,Maruti Alto 800,2014,180000.0,Petrol,Third Party insurance,5.0,796.0,22.74,Others,No,No,Power,140.0,5.0,177.0,kolkata
8366,Sedan,50000,Automatic,3,Mercedes-Benz C-Class,2011,550000.0,Petrol,Third Party insurance,5.0,1796.0,11.74,Others,No,No,Power,230.0,4.0,475.0,kolkata
8367,Hatchback,40000,Manual,1,Maruti Ritz,2012,140000.0,Petrol,Third Party insurance,5.0,1197.0,18.50,Others,No,No,Power,156.0,5.0,236.0,kolkata
8368,SUV,120000,Manual,2,Renault Duster,2017,500000.0,Diesel,Third Party insurance,5.0,1461.0,19.72,Others,Yes,No,Power,168.0,5.0,410.0,kolkata

In [277]:
data_1.to_csv("Cleaned_cars_data.csv")

In [ ]:
data_1.isnull().mean() * 100